<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="authService.isloggedIn"  >
    <div *ngIf="authService.isloggedIn" ></div>
    <a class="navbar-brand" >Feed Up</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       
        <li class="nav-item">
            <a class="nav-item nav-link" *ngIf="authService.isAdmin()" routerLink="/users"> All Users</a>
        </li>
        <li class="nav-item">
             <a class="nav-item nav-link" *ngIf="authService.isAdmin()" routerLink="/addadmin">Register New admin/user</a>
        </li>
        
       
     

      </div>
    </div>
    
    <form class="form-inline my-2 my-lg-0">
            
        
        <button class="btn btn-outline-warning my-2 my-sm-0"*ngIf="authService.isloggedIn" 
        (click)="onLogout()" type="submit"> {{authService.loggedUser}} Logout</button>
       
      </form>
  </nav>



<router-outlet> </router-outlet>
