<div class="container">
  <div>
    <br>
    <br>
    <br>
    <br>
  </div>



  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Login </span>
    <input type="text" class="form-control" aria-label="Sizing example input" placeholder="username"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="user.uid" required #i="ngModel" minlength="3">
  </div>
  <div class="alert alert-danger" *ngIf="i.invalid && i.touched ">
    <div *ngIf="i.errors?.required">Laboratory is a required field</div>
    <div *ngIf="i.errors?.minlength"> error: minlength is equal to 3</div>
  </div>


  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">First name </span>
    <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Jebabli"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="user.uprenom" required #f="ngModel" minlength="3">
  </div>
  <div class="alert alert-danger" *ngIf="f.invalid && f.touched ">
    <div *ngIf="f.errors?.required">Laboratory is a required field</div>
    <div *ngIf="f.errors?.minlength"> error: minlength is equal to 3</div>
  </div>



  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Last name </span>
    <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Mohamed"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="user.unom" required #n="ngModel" minlength="3">
  </div>
  <div class="alert alert-danger" *ngIf="n.invalid && n.touched ">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Phone Number </span>
    <input type="number" class="form-control" aria-label="Sizing example input" placeholder="980000000"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="user.uphone" required #p="ngModel" minlength="3">
  </div>
  <div class="alert alert-danger" *ngIf="p.invalid && p.touched ">


  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Email address</span>
    <input type="text" class="form-control" aria-label="Sizing example input" placeholder="980000000"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="user.uemail" required #e="ngModel" minlength="3">
  </div>
  <div class="alert alert-danger" *ngIf="e.invalid && e.touched ">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
    <input type="password" class="form-control" aria-label="Sizing example input" placeholder="980000000"
      aria-describedby="inputGroup-sizing-default" [(ngModel)]="user.upassword" required #pw="ngModel" minlength="3">
  </div>
  <div class="alert alert-danger" *ngIf="pw.invalid && pw.touched ">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Role</label>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="user.utype">
      <option>USER</option>
      <option>ADMIN</option>

    </select>

  </div>
  <div>
    <br>
    <br>

  </div>
 

  <button  type="button" class="btn btn-primary btn-lg btn-block" (click)="addD()" [disabled]=" i.invalid&& p.invalid && n.invalid && 
  f.invalid && e.invalid && pw.invalid 
  ">Add User</button>
  <br>
  <br>

</div>